.cartIcon {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

.cartCount {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #ff6347;
  color: #fff;
  border-radius: 50%;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  overflow-y: auto;
  z-index: 999;
  transition: transform 0.3s ease;
  transform: translateX(100%);

  &.visible {
    transform: translateX(0);
  }

  ul {
    li {
      width: 100%;
      display: grid;
      padding: 12px;
      margin: 14px 0;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
       span {
        &:nth-child(2) {
          font-size: 12px;
        }
      }
    }
  }

  .cartTotal {
    display: grid;
    margin: 24px 0;
    border-top: 1px #d7d7d7 solid;
    padding: 12px 0;

    button {
      background-color: green;
      color: #fff;
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    top: auto;
    transform: translateY(100%);

    &.visible {
      transform: translateY(0);
      top: 0;
    }
  }
}